.food_image {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.food_image_small {
    width: 100%;
    object-fit: cover;
    height: 130px;
    padding: 8px 8px 0px 8px;
}

.restaurant_logo {
    display: flex;
    justify-content: center;
}

.restaurant_img {
    position: absolute;
    bottom: 590px;
    width: 80px;
    background-color: white;
    border-radius: 40px;
}

@media (max-width: 531px) {
    .restaurant_img {
    bottom: 575px;
}
}